.navbar {
  height: 5rem;
  width: 100vw;
  /*max-width: 75rem;*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background-color:rgb(30, 30, 30);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position:sticky;
  top :0;
  z-index:3;

}
.ACMlogo{
  object-fit: cover;
  height : 3rem;
  width : 4rem;
  }
.desktopMenuListItem{
  margin: 1rem;
  cursor: pointer;
 }
.desktopMenuListItem:hover{
  color: #e50303;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #e50303;

}

.ACMlogo:hover {
  transform: scale(1.05);
}


.desktopMenuListItem li {
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.2s;
}

.desktopMenuListItem li:hover {
  color: #e50303;
}

.desktopMenuListItem li.active {
  color: #e50303;
}

.des li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3498db;
}


.ENSTAB{
  object-fit: cover;
  height : 3rem;
  width : 4rem;
}
.logo {
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}
.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #e50303;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}
